.section--primary
  .container--offset
    %h1= @article.title
    = MarkdownHelper.markdown(@article.summary)

%section#content{ tabindex: "0" }
  %article
    .container--offset
      = MarkdownHelper.markdown(@article.body)

-# .container.block.theme--grey-5
  %p= "Audiences:"
  %ul.list--bullet
    - @article.audiences.each do |audience|
      %li= audience.name

  %p= "Types:"
  %ul.list--bullet
    - @article.types.each do |type|
      %li= type.name

  %h2= "Topics:"
  %ul.list--bullet
    - @article.topics.each do |topic|
      %li= topic.name

  %p= "Collections:"
  %ul.list--bullet
    - @article.collections.each do |collection|
      %p= collection.name

  %p= "Publishers::"
  %ul.list--bullet
    - @article.publishers.each do |publisher|
      %p= publisher.name
