%section--primary#content{ tabindex: "0" }
  .container
    .block
      %h1= "Title: " + @article.title
      %p= "Summary: " + @article.summary
      %p= "Steps: "
      %p
      :markdown
        #{@article.body}
      %p= "Audience: "
      - @audiences.each do |a|
        %p= a.name
      %p= "Type: " + @article_types.first.name
      %p= "Collection: "
      - @collections.each do |collection|
        %p= collection.name
      %p= "Publisher Name: " + @publishers.first.name
