%section--primary#content{:tabindex => "0"}
  .container
    .block
      %h1= "Title: " + @article.articleTitle
      %p= "Audience: " + @article.articleHasAudience.first.articleAudienceName
      %p= "Summary: " + @article.articleSummary
      %p= "Type: " + @article.articleHasType.first.articleTypeName
      %p= "Topics:"
      %ul.list--bullet
        - @article.articleHasTopic.each do |topic|
          %li= topic.articleTopicName
      %p= "Collection: " + @article.articleHasCollection.first.articleCollectionName
      %p= "Publisher Name: " + @article.articleHasPublisher.first.personGivenName + " " + @article.articleHasPublisher.first.personFamilyName
