.container.block.theme--grey-5
  .section--primary.hero.theme--grey-5
    %span= "MPs Guide to Procedure:"
    %h1= @article.title
    %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    - if @article.summary
      %blockquote.block.theme--mint--light= MarkdownHelper.markdown(@article.summary)

  %article#content{ tabindex: "0" }
    %h2= "Steps:"
    = MarkdownHelper.markdown(@article.body)

    %p= "Audience: " + @article.audience.first.name
    %p= "Type:"
    %ul.list--bullet
      - @article.articleType.each do |type|
        %li= type.name

    %h2= "Topics:"
    %ul.list--bullet
      - @article.topic.each do |t|
        %li= t.name

    %p= "Collection: " + @article.collection.first.name
    %p= "Publisher Name: " + @article.publisher.first.name
