.section--primary#content{ tabindex: "0" }
  .container
    %h1= title(@work_packageable_thing.name)

    %h2= "About the whatever we decide to call this"
    %ul
      %li= "Subject to the #{@procedure.name.downcase} procedure"

      - unless @work_packageable_thing.weblink.empty?
        = link_to(@work_packageable_thing.weblink) do
          %li= "Read the whatever we decide to call this, its purpose and related information"

    - if @ordered_business_items.any?
      %h2= 'Ordered steps'
      .track--alternative
        - @ordered_business_items.each do |business_item|
          = render partial: 'work_packages/business_item', locals: { business_item: business_item }

    - if @possible_procedure_steps.any?
      %h2= 'Possible steps'
      - @possible_procedure_steps.each do |possible_procedure_step|
        %p= possible_procedure_step.name
        %p= possible_procedure_step.distance_from_origin

    -# - if @grouped_and_ordered_business_items.any?
    -#   %h2= 'Grouped and ordered steps'
    -#   .track--alternative
    -#     - @grouped_and_ordered_business_items.each do |business_item|
    -#       = render partial: 'work_packages/business_item', locals: { business_item: business_item }
